/* CSS FOR DEADMEAT.NYC */
body { font-family: walter-turncoat;
    color: white;
    background-color:#7b6c9b;
}

h1 {
    text-align:center;
    color:#fff;
    margin-top:10%;
    font-size:6em;
}

.center {
    margin: 0 auto;
    text-align:center;
}

.container h2 {
    font-size:1em;
    color:#fff;
    letter-spacing:3px;
}

#mc_embed_signup_scroll {
    margin-top:5%;
    margin-bottom:5%;
}

.logo {
    max-width:700px;
    margin-top:5%;
}

.mc-field-group {
    color:#fff;
}

.email-label {
    font-size:.8em;
    font-weight:300;
    letter-spacing:1px;
}

.clear {
    margin-top:5px;
}

.contact {
    bottom:5px;
    position:absolute;
    z-index:10;
}

.container a {
    color:#fff;
}

.container a:visited {
    color:#fff;
}

.container a:hover {
    color:#cccccc;
}

#mute-video {
    font-size:2em;
    position:absolute;
    bottom:50px;
}

.required {
    color:#000;
}





.full-wrapper {
    background:#7b6c9b;
    width:100%;
    height:100%;
}



.fb-icon {
    width:100px;
    height:96px;
    background-image:url("/images/fb-icon.png");
    background-repeat:no-repeat;
    display:inline-block;
}

.twitter-icon {
    width:100px;
    height:96px;
    background-image:url("/images/twitter-icon.png");
    background-repeat:no-repeat;
    display:inline-block;
}

.twitter-icon:hover {
    background-image:url("/images/twitter-hover.png");
}

.soundcloud-icon {
    width:100px;
    height:96px;
    background-image:url("/images/soundcloud-icon.png");
    background-repeat:no-repeat;
    display:inline-block;
}

.soundcloud-icon:hover {
    background-image:url("/images/soundcloud-hover.png");
}

.instagram-icon {
    width:100px;
    height:96px;
    background-image:url("/images/insta-icon.png");
    background-repeat:no-repeat;
    display:inline-block;
}

.instagram-icon:hover {
    background-image:url("/images/insta-hover.png");
}

.tumblr-icon {
    width:100px;
    height:96px;
    background-image:url("/images/tumblr-icon.png");
    background-repeat:no-repeat;
    display:inline-block;
}

.tumblr-icon:hover {
    background-image:url("/images/tumblr-hover.png");
}

.youtube-icon {
    width:100px;
    height:96px;
    background-image:url("/images/youtube-icon.png");
    background-repeat:no-repeat;
    display:inline-block;
}

.youtube-icon:hover {
    background-image:url("/images/youtube-hover.png");
}

.fb-icon:hover {
    background-image:url("/images/fb-hover.png");
}



.socials {
    padding-bottom:100px;
}



.tinder-wrap {
    position:relative;
    margin-left:-200px;
    max-width:400px;
}
