/* CSS FOR DEADMEAT.NYC */
body { font-family: walter-turncoat;
    color: white;
    background-color:black;
}
#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

h1 {
    text-align:center;
    color:#fff;
    margin-top:10%;
    font-size:6em;
}

.center {
    margin: 0 auto;
    text-align:center;
}

.container h2 {
    font-size:1em;
    color:#fff;
    letter-spacing:3px;
}

#mc_embed_signup_scroll {
    margin-top:20%;
}

.logo {
    max-width:300px;
    margin-top:10%;
}

.mc-field-group {
    color:#fff;
}

.email-label {
    font-size:.8em;
    font-weight:300;
    letter-spacing:1px;
}

.clear {
    margin-top:5px;
}

.contact {
    margin-top:20%;
}

.container a {
    color:#fff;
}

.container a:visited {
    color:#fff;
}

.container a:hover {
    color:#cccccc;
}

#mute-video {
    font-size:2em;
    position:absolute;
    bottom:50px;
}
